.main-not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto';
  background-color: #000000;
}
.not-found-image {
  width: 27%;
  height: 57%;
}

.not-found-heading {
  color: #f1f5f9;
  font-size: 29px;
  margin-bottom: 0px;
}

.not-found-para {
  color: #cbd5e1;
  font-size: 14px;
  line-height: 1.6;
}


.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  padding: 22px;
  width: 100%;
}

